<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Plan de localisation</title>
    <link rel="stylesheet" type="text/css" th:href="@{classpath:static/css/style.css}" />
</head>

<body class="flex items-center justify-center h-screen">
    <div class="page">
        <div class="page-head">
            <div class="page-head-user">
                <div class="page-head-user-name">
                    <span class="firstname" th:text="${user.firstname}">Prénom</span>
                    <span class="lastname" th:text="${user.lastname}">Nom</span>
                </div>
                <div class="page-head-user-info">
                    <div class="info">
                        <img th:src="@{classpath:static/images/person.png}" /><span th:text="'CNI ' + ${user.idCardNumber}"></span>
                    </div>
                    <div class="info">
                        <img th:src="@{classpath:static/images/person.png}" /><span th:text="${user.phoneNumber}"></span>
                    </div>
                    <div class="info">
                        <img th:src="@{classpath:static/images/location.png}" /><span th:text="${place.getAddress().planDisplayPlaceName()}"
                    >Montplaisir - Lyon - France</span
                    >
                    </div>
                </div>
                <span class="identifier" th:text="${identifier}"></span>
            </div>
            <div class="page-head-code">
                <img th:src="*{'data:image/png;base64,'+ qrCode }" alt="#"/>
            </div>
        </div>
        <div class="page-map">
            <img th:src="*{'data:image/png;base64,'+ mapImage }" alt="#"/>
        </div>
        <div class="footer-container">
            <div class="page-footer">
                <div class="page-footer-signature">
              <span th:utext="'J’atteste l’exactitude de ce plan édité le <b>'+ ${creationDate} + '</b>'"
              ></span>
                    <div class="signature"></div>
                </div>
                <div class="page-footer-logo">
                    <img src="/images/logopdl.jpeg" />
                </div>
            </div>
            <div class="page-footer-labels">
                <div class="page-footer-label-signature">Signature</div>
                <div class="page-footer-label-validity" th:utext="'Valide jusqu\'au <b>'+ ${expirationDate} + '</b>'"></div>
            </div>
        </div>
    </div>
</body>

</html>